/*  your css code here. If applicable */
.container{
	display:flex;
	justify-content:center;
	align-items:center;
}

.progress-bar{
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:2em;
}

.circles{
	display:flex;
	/* gap:2em; */
}

.circle{
	width:25px;
	height:25px;
	border:3px solid lightgray;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:gray;
}

.active{
	border-color:deepskyblue;
}

.line-container{
	display:flex;
	justify-content:center;
	align-items:center;
}

.line {
  height: 4px;
  background-color: lightgray;
  width: 50px;
}

.line-active{
	background-color: deepskyblue;
}

.buttons{
	display:flex;
	gap:1em;
}

.button{
	color:white;
	background-color:deepskyblue;
	border:none;
	padding:0.5em 2em;
	border-radius:0.5em;
}

.button:disabled{
	background-color:red;
	cursor:not-allowed;
}